
HIVE_JWT_SECRET={{ vault_hive_jwt_secret }}
HIVE_INTERNAL_TOKEN={{ vault_hive_internal_token }}
{% if vault_hive_marketplace_hmac_keys | default('') %}
HIVE_MARKETPLACE_HMAC_KEYS={{ vault_hive_marketplace_hmac_keys }}
{% endif %}
{% if vault_hive_marketplace_testnet_theo_token | default('') %}
HIVE_MARKETPLACE_TESTNET_THEO_TOKEN={{ vault_hive_marketplace_testnet_theo_token }}
{% endif %}
{% if vault_hive_marketplace_testnet_atomic_split_contract | default('') %}
HIVE_MARKETPLACE_TESTNET_ATOMIC_SPLIT_CONTRACT={{ vault_hive_marketplace_testnet_atomic_split_contract }}
{% endif %}
{% if vault_hive_marketplace_testnet_fee_recipient | default('') %}
HIVE_MARKETPLACE_TESTNET_FEE_RECIPIENT={{ vault_hive_marketplace_testnet_fee_recipient }}
{% endif %}
{% if vault_hive_marketplace_runtime_clerk_publishable_key | default('') %}
HIVE_MARKETPLACE_RUNTIME_NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY={{ vault_hive_marketplace_runtime_clerk_publishable_key }}
{% endif %}
{% if vault_hive_marketplace_runtime_clerk_secret_key | default('') %}
HIVE_MARKETPLACE_RUNTIME_CLERK_SECRET_KEY={{ vault_hive_marketplace_runtime_clerk_secret_key }}
{% endif %}
{% if vault_hive_marketplace_runtime_clerk_jwt_issuer | default('') %}
HIVE_MARKETPLACE_RUNTIME_CLERK_JWT_ISSUER={{ vault_hive_marketplace_runtime_clerk_jwt_issuer }}
{% endif %}
{% if vault_hive_marketplace_runtime_key_id | default('') %}
HIVE_MARKETPLACE_RUNTIME_DEVHUB_MARKETPLACE_KEY_ID={{ vault_hive_marketplace_runtime_key_id }}
{% endif %}
{% if vault_hive_marketplace_runtime_signing_secret | default('') %}
HIVE_MARKETPLACE_RUNTIME_DEVHUB_MARKETPLACE_SIGNING_SECRET={{ vault_hive_marketplace_runtime_signing_secret }}
{% endif %}
